<div *ngIf="!showTable" class="form-page">
  <div class="row">
    <div class="col-md-6 col-xs-10 working-part mx-auto">
      <div class="process-part">
        <div class="d-flex justify-content-center">
          <div
            [class]="(i == currentPageIndex)? 'bd-highlight btn-warning pro-button ml-4 mr-4' : 'bd-highlight pro-button ml-4 mr-4 btn-primary'"
            *ngFor="let page of form.attributes; let i = index;" (click)="goToPage(i)">{{i+1}}</div>
          <!-- <div class="bd-highlight btn-primary pro-button ml-4 mr-4">2</div> -->
        </div>
      </div>
      <div class="text-center mt-2">
        <h4>{{formCurrentPage.name}}</h4>
      </div>
      <form #userForm="ngForm">
        <div *ngFor="let item of formCurrentPage.field; let inVal = index;">
          <div class="formtitle" *ngIf="item.fielType==='header'">
            <div class="mb-3 maker-input">
              <label class="form-header">{{item.label}}</label>

            </div>
          </div>
          <div class="p-4" *ngIf="item.fielType==='statement'">
            <div class="mb-3 maker-input">
              <label class="name-input">{{item.label}}</label>

            </div>
          </div>
          <div class="p-4" *ngIf="item.fielType==='footer'">
            <div class="mb-3 maker-input">
              <p class="name-input">{{item.label}}</p>

            </div>
          </div>
          <div class="p-4" *ngIf="item.fielType==='text'">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input">
              <input class="name-input" name="{{item.name}}" id="{{item.name}}" minlength="{{item.validOption?.min}}"
                maxlength="{{item.validOption?.max}}" required="{{item.required}}" placeholder="{{item.placeholder}}"
                [(ngModel)]="item.value" aria-invalid="false" #text="ngModel">
            </div>
            <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
              {{item.errorText}}
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='number'">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}
              </label>
            </div>
            <div class="user-input">
              <input class="name-input" type="number" name="{{item.name}}" id="{{item.name}}"
                min="{{item.validOption?.min}}" max="{{item.validOption?.max}}" required="{{item.required}}"
                (change)="numberInputValidation(item, this.value)" placeholder="{{item.placeholder}}"
                [(ngModel)]="item.value" aria-invalid="false" #number="ngModel">
              <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
                {{item.errorText}}
              </div>


            </div>
            <!-- <span class="mt-3 float-right" style="color:#b8b8b8">256 maximum characters</span> -->
          </div>

          <div class="p-4" *ngIf="item.fielType==='email'">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input">

              <div class="row">
                <div class="col-8">
                  <input class="name-input" name="{{item.name}}" pattern="^[a-zA-Z0-9_.#&-]{1,20}$" id="{{item.name}}"
                    required="{{item.required}}" placeholder="{{item.placeholder}}" [disabled]="item.mailType ==''"
                    [(ngModel)]="item.value" aria-invalid="false" #email="ngModel">
                </div>
                <div class="col-4">
                  <div class="nice-select" tabindex="0">
                    <span class="current">Select Validation </span>
                    <ul class="list">
                      <li (click)="item.mailType = mail.pattern"
                        *ngFor="let mail of item?.emailList; let i = index" class="option selected focus">
                        {{mail.pattern}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <span class="red" *ngIf="item.mailType ==''">Please Select Email Type First</span>
              <div [hidden]="email.valid || email.pristine " class="alert alert-danger">
                {{item.errorText}}
              </div>
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='phone'">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input">

              <div class="row">


                <div class="col-md-4 col-xs-12 mb-2">
                  <div class="nice-select" tabindex="0">
                    <span class="current">Select Validation </span>
                    <ul class="list">
                      <li (click)="item.phoneType = mail.pattern"
                        *ngFor="let mail of item?.phoneList; let i = index" class="option selected focus">
                        {{mail.pattern}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-8 col-xs-12 mb-2">
                  <input class="name-input" name="{{item.name}}" pattern="^[0-9]{7,20}$" id="{{item.name}}"
                    required="{{item.required}}" placeholder="{{item.placeholder}}" [disabled]="item.phoneType ==''"
                    [(ngModel)]="item.value" aria-invalid="false" #phone="ngModel">
                </div>
              </div>
              <span class="red" *ngIf="item.phoneType ==''">Please Select contary code</span>
              <div [hidden]="phone.valid || phone.pristine " class="alert alert-danger">
                {{item.errorText}}
              </div>
            </div>
          </div>


          <div class="p-4" *ngIf="item.fielType=='file'">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <!-- <div class="right-ico mr-5">
              <input type="file" id="real-file" hidden="hidden" />
              <button (click)="document.getElementById('real-file').click()" type="button"
                class="btn btn-sm btn-primary btn-style mr-2" id="custom-button">Upload</button>
              <span id="custom-text">Select file</span>
            </div> -->
            <div class="row">
              <div class="col">
                <div class="uploadimage-dragndrop" id="dragndropimage">
                  <img class="upload-img mb-3" src="assets/img/icn-upload.png"
                  (click)="document.getElementById('real-file').click()">
                  <p> Upload image</p>
                </div>
              </div>
              <div class="col">
                <div class="upload-image-box">
                  <img src="assets/img/intro.png">
                </div>
              </div>
            </div>
          </div>


          <div class="p-4" *ngIf="item.fielType==='website'" id="Website-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input">
              <div class="user-input">
                <div class="row">
                  <div class="col-md-3 col-xs-12 mb-2">
                    <div class="nice-select" tabindex="0">
                      <span class="current">Select http Or https</span>
                      <ul class="list">
                        <li (click)="item.httpType = mail.label"
                          *ngFor="let mail of item?.httpList; let i = index" class="option selected focus">
                          {{mail.label}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12 mb-2">
                    <input class="name-input" name="{{item.name}}" id="{{item.name}}" required="{{item.required}}"
                      placeholder="{{item.placeholder}}" [(ngModel)]="item.value" aria-invalid="false"
                      #website="ngModel"> </div>
                  <div class="col-md-3 col-xs-12 mb-2">
                    <div class="nice-select" tabindex="0">
                      <span class="current"> .com /.in</span>
                      <ul class="list">
                        <li (click)="item.comType = mail.label"
                          *ngFor="let mail of item?.comList; let i = index" class="option selected focus">{{mail.label}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div [hidden]="website.valid || website.pristine" class="alert alert-danger">
                {{item.errorText}}
              </div>
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='date'" id="Date-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input">
              <input class="name-input" type="date" name="{{item.name}}" id="{{item.name}}" required="{{item.required}}"
                placeholder="{{item.placeholder}}" min="{{item.validOption?.min}}" max="{{item.validOption?.max}}"
                [(ngModel)]="item.value" aria-invalid="false" #date="ngModel">
              <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                {{item.errorText}}
              </div>
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='yesNo'">
            <div class="mb-3 maker-input">
              <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input form-check-inline" *ngFor="let opt of item.values">
              <div class=" custom-radio custom-control-inline">
                <input type="radio" [value]="opt.value" name="{{item.name}}" [(ngModel)]="item.value"
                  [ngModelOptions]="{standalone: true}" required="{{item.required}}" #yesNo="ngModel"> &nbsp; {{opt.label}}
              </div>

              <div [hidden]="yesNo.valid || yesNo.pristine" class="alert alert-danger">
                {{item.errorText}}
              </div>
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='trueFalse'">
            <div class="mb-3 maker-input">
              <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input inline-form-group" *ngFor="let opt of item.values">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" [value]="opt.value" name="{{item.name}}" [(ngModel)]="item.value"
                  [ngModelOptions]="{standalone: true}" required="{{item.required}}" #trueFalse="ngModel">
                {{opt.label}}
              </div>

              <div [hidden]="trueFalse.valid || trueFalse.pristine" class="alert alert-danger">
                {{item.errorText}}
              </div>



            </div>
          </div>


          <div class="p-4" *ngIf="item.fielType==='rating'" id="Rating-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div class="user-input pl-4">
              <div class="row">
                <div *ngFor="let itm of [].constructor(item.ratingLimit); let i = index">
                  <div class="mb-2 rating-ico">
                    <span [class]="item?.selestedValidation ">
                      <ng-container *ngIf="item.selestedValidation== 'btn btn-light'">
                        {{i}}
                      </ng-container>
                    </span>&nbsp;

                  </div>
                </div>
                <div *ngIf="item.userComment.want" class="maker-input">
                  <textarea [(ngModel)]="item.userComment.comment" cols="50" rows="5"
                    placeholder="Enter your suggestion" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="p-4" *ngIf="item.fielType==='dropdown'" id="dropdown-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <ng-multiselect-dropdown [data]="item.values" [(ngModel)]="item.userResponse"
              [ngModelOptions]="{standalone: true}" [settings]="DropDownSettings">
            </ng-multiselect-dropdown>

          </div>

          <div class="p-4" *ngIf="(item.fielType==='multiple')" id="picture-choice-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div id="picture-choice-view" class="pl-4">

              <div class="row">
                <div class="col-12" *ngFor="let val of item.values">
                  <div class="image-box" *ngIf="(item.fielType==='picture')">
                    <img src="assets/img/intro.png" class="img-thumbnail">
                  </div>
                  <p class=" mt-2 ">

                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      {{val.label}}
                    </label></p>
                </div>

              </div>
            </div>

          </div>
          <div class="p-4" *ngIf="(item.fielType==='picture')" id="picture-choice-format">
            <div class="mb-3 maker-input">
              <span *ngIf="item.required" class="red">*</span> <label class="name-input">{{item.label}}</label>
            </div>
            <div id="picture-choice-view">

              <div class="row">
                <div class="col-md-4 col-xs-6  mt-3" *ngFor="let val of item.values">
                  <div class="image-box">
                    <img src="assets/img/intro.png" class="img-thumbnail">
                  </div>
                  <p class=" text-center mt-2 ">

                    <label class="form-check-label"> {{val.label}}
                      <br>
                      <input class="form-check-input" type="checkbox" value="">
                    </label></p>
                </div>

              </div>
            </div>

          </div>

          <!-- <div class="p-4" *ngIf="item.fielType===''" id="conditional-dropdown-format">
        <div class="mb-3 maker-input">
          <input class="name-input" placeholder="This is the conditional format.*" aria-invalid="false">
        </div>
        <div class="user-input">
          <div class="row">
             <div class="col-4">
                <div  class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa left-ico">1</i>
                  <input  aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
                  <i  aria-hidden="true" class="fa fa-times right-ico"></i>
                </div>
             </div>

             <div class="col-4">
                <div class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa left-ico">1. a.</i> 
                    <input aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
                    <i aria-hidden="true" class="fa fa-times right-ico"></i>
                  </div>
             </div>

             <div class="col-4">
                <div class="add-condi-dropdown">
                    <i aria-hidden="true" class="fa fa-chevron-down left-ico"></i> 
                    <input aria-invalid="false" class="name-input mb-2" placeholder="I am invincible.">
             </div>
          </div>
        </div>
      </div>
    </div> -->
          <!-- 
      <div class="justify-content-center d-flex" id="submit-part">
        <button type="button" class="btn btn-primary">Save</button> &nbsp; &nbsp; &nbsp;
        <button type="button" class="btn btn-light">Next</button>
      </div> -->




          <!-- </div> -->




        </div>
      </form>
      <div class="text-center mt-4">
        <button class="btn btn-primary" *ngIf="currentPageIndex!=0" (click)="navigateToPage(-1)">Pre</button> &nbsp; &nbsp;
      <button class="btn btn-primary" type="submit"
        (click)="submitResult(userForm.value, userForm.invalid)">submit</button> &nbsp; &nbsp; 
      <button class="btn btn-primary" *ngIf="currentPageIndex!=(form.attributes.length -1)"
        (click)="navigateToPage(1)">Next</button>
      </div>

      <div class="m-4 p-4">
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>


</div>



<div *ngIf="showTable" class="m-4">
  <table class="table" *ngFor=" let response of form.attributes; ">
    
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Questions</th>
        <!-- <th> {{response.name}}</th> -->
        <th scope="col">Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of response.field; let i = index;">
        <th scope="row">{{i+1}}</th>
        <td>{{item.label}}</td>
        <td *ngIf="item.fielType=='email'"> {{item.value}}{{item.mailType}}</td>
        <td *ngIf="item.fielType=='phone'"> {{item.phoneType}}{{item.value}} </td>
        <td *ngIf="item.fielType=='website'">{{item.httpType}}{{item.value}}{{item.comType}}</td>
        <td *ngIf="!((item.fielType=='email')||(item.fielType=='phone')||(item.fielType=='website'))">{{item.value}}
        </td>
      </tr>

    </tbody>
  </table>


</div>