.image-box{
    height: 100px;
    width: 100%;
    overflow: hidden;
    }
    .image-box img{
    height: 100px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    }

    .process-part{
        position: relative;
        overflow: hidden;
        z-index: 999;
        }
        .process-part::after{
        content: '';
        position: absolute;
        top: 50%;
        height: 1px;
        width: 100%;
        background-color: #ccc;
        z-index: -1;
        }
        .pro-button{
        padding: 5px 13px;;
        border-radius: 50%;
        }   
        
        
.uploadimage-dragndrop {
min-height: auto;
padding: 20px 20px 20px 20px;
text-align: center;
border: dashed 2px #cccccc; 
}
.upload-img {
position: relative;
top: 12%;
width: 51px;
height: 33px;
background-size: cover;
}
.upload-image-box{
width: 100%;
overflow: hidden;
border: 1px solid #cccccc;
border-radius: 5px;
padding: 3px;
background-size: cover
}
.upload-image-box img{
height: 125px;
width: 100%;
overflow: hidden;
background-size: cover;
}
            