
.navbar{
	border-bottom: 2px solid #ddd !important;
	z-index: 99999; 
  background: #fff;
  display: flex;
}
.user-input .name-input{
    order: 2;
    margin-top: 0;
    border-width:0 0 1px;
    background: none;
    padding: 2px 2px 1px;
    line-height: 26px;
    height: 30px;
    border-style:dashed;
    width: 100%;
    font-family: poppins,sans-serif;
    color: #151948;
}
.user-input .name-input:focus{
	outline: none;
}
.user-answer{
	border-bottom:2px dashed #b8b8b8;
	color:#b8b8b8;
}
.nice-lable{
	padding:10px 0;
}
/*.fixed-bar{
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y: scroll;
}*/
/*-------------sidebar icon menues part-------------*/
.menu-sidebar{
	-border:1px solid purple;
	padding: 20px 25px;
	height: calc(100vh - 50px);
    overflow-y:auto;
    position: fixed;
}
#side-menu{
	padding:0;
}
.menu-item{
	-display: inline-block;
    position: relative;
    padding: 15px 5px;
    cursor: pointer;
}
.menu-item img{
	height: 18px;
	width:18px;
	float: left;
	margin:0 10px 10px 0;
	position: relative;
	top: 10px;
}
.menu-item span{
	-float: right;
	display: block;
	font-size:13px;
	color:#000;
}

.menu-title {
    -padding: 15px 20px;
    letter-spacing: .05em;
    cursor: default;
    font-size: 12px;
    text-transform: uppercase;
}

/*-------------working form part-------------*/
.working-part{
	overflow: hidden;
	box-shadow: 0 1px 6px 0 rgba(101, 95, 95, 0.18);
	height: 100%;
	margin: auto;
}
.working-part .active{
     background-color: #f9f9f9
}
.formtitle{
	padding: 35px 50px;
}
.formtitle .page-title{
	color: #b8b8b8;
	font-size:13px;
	font-weight:400;
}
.mb-40{
	margin-bottom:40px;
}
.mb-35{
	margin-bottom:35px;
}
.file-name{
  list-style-type: none;
  padding-left:0px;
  text-align: center;
}
.file-name li{
  color: #676767;
  padding: 2px 0;
}
.file-name li i{
  margin-right: 5px;
  font-size:18px;
  color:#000000;
}


/*-------------formats-------------*/
#Short-text-format{
	 padding: 40px;
}
#Long-text-format{
	 padding:40px;
}
#phone-number-format{
	 padding: 40px;
}
#Website-format{
	 padding: 40px;
}
#Date-format{
	 padding:40px;
}
#Yes-No-format{
	 padding: 40px;
}
#Upload-format{
	 padding: 40px;
}
#email-format{
	 padding: 40px;
}
#Rating-format{
	padding: 40px
}


/*-------------property part-------------*/
.property-part{
	-border:1px solid yellow;
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y:auto;
    padding:15px;
    right:0;
}
.property-tab{
	padding: 15px;
}
.property-tab .tab-content{
	-border:1px solid red;
}
.text-property{
	-border:1px solid red;
}
.text-property a{
	padding:5px;
	font-size:14px;
}
.text-property a img{
	height:18px;
}
.part-title{
	-border:1px solid red;
	margin-bottom:15px;
	font-size: 15px;
}
.add-new-property a{
	padding:5px;
	margin-right:10px;
	font-size:14px;
	display: inline-grid;
}
.add-new-property span{
	font-size:10px;
	color: #b8b8b8;
	text-align: center;
}
.add-new-property a img{
	height:25px;
}
.required-part{
	-border:1px solid red;
}
.required-part .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.required-part .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.required-part .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.required-part .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.required-part input:checked + .slider {
  background-color: #2196F3;
}

.required-part input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.required-part input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.required-part .slider.round {
  border-radius: 34px;
}

.required-part .slider.round:before {
  border-radius: 50%;
}
.required-icons i{
  font-size: 16px;
  color: #a0a6ad;
}

.inline-selection span{
	display: inline-block;
	width:50%;
	padding: 0 5px;
}

.theme-setting-color{
	-border:1px solid red;
}
.que-color p{
	display: inline;
}
.que-color input{
	height:18px;
	width:18px !important;
    position: relative;
    top:5px;
    border-radius: 1px;
    float: right;
}
.que-color i{
    position: relative;
    top:5px;
    font-size: 18px;
}
.form-pages p a{
    color:#212529;
}
.form-pages p a:hover{
    color:#ffae1f;
}
.mtb{
	margin: 35px 0;
}
.required-inputs input{
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}