

<div class="form-bg d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="m-auto">
                <form class="form-horizontal" #logingForm="ngForm">
                    <div class="heading">No Code BPM <br></div>
                    <div class="form-group">
                        <i class="fa fa-user"></i><input required [(ngModel)]="user.userName"   size="30" name="username"  class="form-control" placeholder="Username" id="exampleInputEmail1">
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock"></i><input required [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!logingForm.valid" routerLink="/home" class="btn btn-default">Login</button>
                        <span>Don't have an account? <a href="" class="create_account"> &nbsp; Sign up</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>