.form-bg {
    display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}
.form-horizontal{
    background-color: #fff;
    text-align: center;
    padding: 50px 50px 50px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.1),;
}
.form-horizontal .heading{
    color: #555;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 50px 0;
}
.form-horizontal .form-group{
    margin: 0 auto 30px;
    position: relative;
}
.form-horizontal .form-group:nth-last-child(2){ margin-bottom: 20px; }
.form-horizontal .form-group:last-child{ margin: 0; }
.form-horizontal .form-group>i{
    color: #999;
    transform: translateY(-50%);
    position: absolute;
    left: 5px;
    top: 50%;
}
.form-horizontal .form-control{
    color: #000000;
    background-color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    height: 40px;
    padding: 5px 10px 2px 25px;
    box-shadow: 0 0 0 0 transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 0;
    display: inline-block;
}
.form-control::placeholder{
    color: rgba(0,0,0,0.2);
    font-size: 16px;
}
.form-horizontal .form-control:focus{
    border-bottom: 1px solid #448ef6;
    box-shadow: none;
}
.form-horizontal .btn{
    color: #448ef6;
    background-color: #EDF6F5;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 35%;
    height: 45px;
    padding: 7px 30px;
    margin: 35px auto 25px;
    border: none;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}
.form-horizontal .btn:focus,
.form-horizontal .btn:hover{
    color: #fff;
    background-color: #448ef6;
}
.form-horizontal .btn:before,
.form-horizontal .btn:after{
    content: '';
    background-color: #448ef6;
    height: 50%;
    width: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s;
}
.form-horizontal .btn:after{
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
}
.form-horizontal .btn:hover:before,
.form-horizontal .btn:hover:after{
    height: 100%;
    width: 50%;
    opacity: 0;
}
.form-horizontal .create_account{
    color: #448ef6;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}
.form-horizontal .create_account:hover{
    color: #448ef6;
    text-decoration: none;
}

