
// .back-to-top{
// 	display:none;position:fixed;bottom:18px;right:15px;width:45px;height:45px;line-height:50px;cursor:pointer;text-align:center;border-radius:4px;background:#53f;background:linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);box-shadow:0 8px 9px 0 rgba(96,94,94,.17);z-index:9999999
// }
// .back-to-top i{
// 	color:#fff;font-size:20px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out
// }
// .navbar{
// 	border-bottom: 2px solid #ddd !important;
// 	z-index: 99999; 
// 	background: #fff;
// }
// .pl-30{
// 	padding-left: 30px;
// }
// .main{
// 	margin-top: 50px;
// }
// .maker-input .name-input{
//     order: 2;
//     display: block;
//     margin-top: 0;
//     background: none;
//     padding: 2px 2px 1px;
//     line-height: 26px;
//     height: 30px;
//     border:none;
//     width: 100%;
//     box-sizing: border-box;
//     color: #151948;
//     font-size: 16px;
// }
// .maker-input .name-input:focus{
// 	outline: none;
// }
// .user-input .name-input{
//     order: 2;
//     display: block;
//     margin-top: 0;
//     border-width:0 0 1px;
//     background: none;
//     padding: 2px 2px 1px;
//     line-height: 26px;
//     height: 30px;
//     border-style:dashed;
//     width: 100%;
//     font-family: poppins,sans-serif;
//     color: #151948;
// }
// .user-input .name-input:focus{
// 	outline: none;
// }
// .user-answer{
// 	border-bottom:2px dashed #b8b8b8;
// 	color:#b8b8b8;
// }
// .nice-lable{
// 	padding:10px 0;
// }
// /*.fixed-bar{
//     height: calc(100vh - 50px);
//     position: fixed;
//     overflow-y: scroll;
// }*/
// /*-------------sidebar icon menues part-------------*/
// .menu-sidebar{
// 	-border:1px solid purple;
// 	padding: 20px 25px;
//     -margin-left:20px;
// 	height: calc(100vh - 50px);
//     overflow-y:auto;
//     position: fixed;
// }
// #side-menu{
// 	padding:0;
// }
// .menu-item{
// 	-display: inline-block;
//     position: relative;
//     padding: 15px 5px;
//     cursor: pointer;
// }
// .menu-item img{
// 	height: 18px;
// 	width:18px;
// 	float: left;
// 	margin:0 10px 10px 0;
// 	position: relative;
// 	top: 10px;
// }
// .menu-item span{
// 	-float: right;
// 	display: block;
// 	font-size:13px;
// 	color:#000;
// }

// .menu-title {
//     -padding: 15px 20px;
//     letter-spacing: .05em;
//     cursor: default;
//     font-size: 12px;
//     text-transform: uppercase;
// }

// /*-------------working form part-------------*/
// .working-part{
// 	overflow: hidden;
// 	box-shadow: 0 1px 6px 0 rgba(101, 95, 95, 0.18);
// 	height: 100%;
//   margin: auto;
//   background: #ffffff;
// }
// .working-part .active{
//      background-color: #f9f9f9
// }
// .formtitle{
// 	padding: 35px 50px;
// }
// .formtitle .page-title{
// 	color: #b8b8b8;
// 	font-size:13px;
// 	font-weight:400;
// }
// .mb-40{
// 	margin-bottom:40px;
// }
// .mb-35{
// 	margin-bottom:35px;
// }
// .file-name{
//   display: flex;
//   text-align: center;
// }
// .file-name i{
//   margin-right: 10px;
//   font-size:18px;
//   line-height:30px; 
//   color:#000000;
// }


// /*-------------formats-------------*/


// /*-----rating css-------*/
// fieldset, label { margin: 0; padding: 0; }

// /****** Style Star Rating Widget *****/

// .rating { 
//   border: none;
//   float: left;
// }

// .rating > input { display: none; } 
// .rating > label:before { 
//   margin: 5px;
//   font-size: 1.25em;
//   font-family: FontAwesome;
//   display: inline-block;
//   content: "\f006";
// }

// .rating > .half:before { 
//   content: "\f006";
//   position: absolute;
// }

// .rating > label { 
//   color: #949191; 
//  float: right; 
// }

// /***** CSS Magic to Highlight Stars on Hover *****/

// .rating > input:checked ~ label, /* show gold star when clicked */
// .rating:not(:checked) > label:hover, /* hover current star */
// .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

// .rating > input:checked + label:hover, /* hover current star when changing rating */
// .rating > input:checked ~ label:hover,
// .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
// .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


// .form-header{
//   font-size:22px !important;
//   font-weight: 600;
//   color:#000000;
// }


// /*-------------property part-------------*/
// .property-part{
//     height: calc(100vh - 50px);
//     position: fixed;
//     overflow-y:auto;
//     padding:15px;
//     right:0;
// }
// .property-tab{
// 	padding: 15px;
// }
// .property-tab .tab-content{
// 	-border:1px solid red;
// }
// .text-property{
// 	-border:1px solid red;
// }
// .text-property a{
// 	padding:5px;
// 	font-size:14px;
// }
// .text-property a img{
// 	height:18px;
// }
// .part-title{
// 	-border:1px solid red;
// 	margin-bottom:15px;
// 	font-size: 15px;
// }
// .add-new-property a{
// 	padding:5px;
// 	margin-right:10px;
// 	font-size:14px;
// 	display: inline-grid;
// }
// .add-new-property span{
// 	font-size:10px;
// 	color: #b8b8b8;
// 	text-align: center;
// }
// .add-new-property a img{
// 	height:25px;
// }
// .required-part{
// 	line-height: 18px;
// }
// .required-part .switch {
//   position: relative;
//   display: inline-block;
//   width: 40px;
//   height: 18px;
// }

// .required-part .switch input { 
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .required-part .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .required-part .slider:before {
//   position: absolute;
//   content: "";
//   height: 15px;
//   width: 15px;
//   left: 4px;
//   bottom: 2px;
//   background-color: white;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .required-part input:checked + .slider {
//   background-color: #2196F3;
// }

// .required-part input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

// .required-part input:checked + .slider:before {
//   -webkit-transform: translateX(18px);
//   -ms-transform: translateX(18px);
//   transform: translateX(18px);
// }

// /* Rounded sliders */
// .required-part .slider.round {
//   border-radius: 34px;
// }

// .required-part .slider.round:before {
//   border-radius: 50%;
// }
// .required-icons i{
//   font-size: 16px;
//   color: #a0a6ad;
// }

// .inline-selection span{
// 	display: inline-block;
// 	width:50%;
// 	padding: 0 5px;
// }

// .theme-setting-color{
// 	-border:1px solid red;
// }
// .que-color p{
// 	display: inline;
// }
// .que-color input{
// 	height:18px;
// 	width:18px !important;
//     position: relative;
//     top:5px;
//     border-radius: 1px;
//     float: right;
// }
// .que-color i{
//     position: relative;
//     top:5px;
//     font-size: 18px;
// }
// .form-pages p a{
//     color:#212529;
// }
// .form-pages p a:hover{
//     color:#ffae1f;
// }
// .mtb{
// 	margin: 35px 0;
// }
// .required-inputs input{
//   font-size: 14px;
// }

// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ddd ; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #ccc; 
// }

.mainshow{	margin-top: 100px;
}
.mainhide{	margin-top: 0px;
}

#file-upload-format{
  padding: 40px;
}
#file-upload-format .filestyle{
  border-bottom: 1px dashed #151948;
  padding-bottom: 10px;
}
.btn-style{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
  padding: 5px 16px;
  border: 0;
  border-radius: .125rem;
  white-space: normal;
  word-wrap: break-word;
}
.hide-show-btn{
  position: fixed;
  top:20px;
  right: 30px;
  z-index: 999999;
 }

 .process-part{
  position: relative;
  overflow: hidden;
  z-index: 999;
  }
  .process-part::after{
  content: '';
  position: absolute;
  top: 38%;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  z-index: -1;
  }
  .pro-button{
  padding: 13px 21px;
  border-radius: 50%;
  }
// .right-ico{
//     right: 0;
//     position: absolute;
//     top:0px;
//     color: #6c757d;
// }
.image-box{
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.image-box img{
  height: 100px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
.uploadimage-dragndrop {
  min-height: auto;
   padding: 20px 20px 20px 20px;
    text-align: center;
    border: dashed 2px #cccccc; 
  }
 .upload-img {
    position: relative;
    top: 12%;
    width: 51px;
    height: 33px;
    background-size: cover;
}
.upload-image-box{
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 3px;
  background-size: cover
}
.upload-image-box img{
  height: 125px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}