/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.clearfix{clear:both;}
.pointer{cursor: pointer;}
.ucfirst{text-transform: capitalize;}
.min300{min-height:300px}
.app-box{
    padding: 10px;
    margin-bottom:20px;
    height: 230px;
    background: #b5e8d4;
    overflow: hidden;
    box-shadow: 1px 1px 4px #ccc;
}
.app-box:hover{
    box-shadow: 1px 1px 4px #999;
}
.app-box .remove{
    position: absolute;
    right: 21px;
    top: 0px;
    color: #545454;
    display:none;
}
.app-box:hover .remove{
    display:block;
}
.inline-btn{
    background: #00b970;
    padding: 1px 5px;
    color: white;
    display: inline-block;
    margin-bottom: 5px;
}
.box{
    padding: 10px;
    margin-bottom:10px;
    overflow: auto;
    box-shadow: 1px 1px 4px #ddd;
}
.form-group .form-control{
    font-size:inherit;
    background-color: inherit;
}

.dndDropArea{
    padding: 10px;
    /* border: dotted #ddd 2px; */
}

.dndDropArea.empty{
    min-height:600px;
    border: dotted #ddd 2px;
}

.field{
    padding:10px;
    margin-bottom:10px;
    position: relative;
}
.field:hover{
    box-shadow: 1px 1px 4px #ddd;
    background: #f9f9f9;
}
.toggle-Wrapper{
    padding: 15px;
    background: #d6d6d629;
}
.dndHandle{
    cursor: pointer;
    color: #999;
}
.dndDraggingSource{
    opacity:0.3;
}
.dndPlaceholder{
    background: rgb(206, 238, 238); border-radius: 2px; padding: 20px;
    margin-bottom:10px;
} n
.field .fa{
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;

}
.red{color:#d9534f}
.fa-trash{color:#d9534f}
.marginT60{
    margin-top:60px;
}

.color-red{color:red;}
.report-block{
    padding:10px;
    background:#f8f8f8;
    margin-bottom:20px;
}
.report-block .row:nth-child(even){
    background:#fff;
}

.ftheme{
    width:100%;
}

.dndDropArea .field .fa{
    opacity:0;
}
.dndDropArea .field:hover .fa{
    opacity:1;
}

.colorpick{
    height: 25px;
    background: white;
    border: none;
}



// home










.back-to-top{
	display:none;position:fixed;bottom:18px;right:15px;width:45px;height:45px;line-height:50px;cursor:pointer;text-align:center;border-radius:4px;background:#53f;background:linear-gradient(95deg,#5533ff 40%,#25ddf5 100%);box-shadow:0 8px 9px 0 rgba(96,94,94,.17);z-index:9999999
}
.back-to-top i{
	color:#fff;font-size:20px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out
}
// .navbar{
// 	border-bottom: 2px solid #ddd !important;
// 	z-index: 99999; 
// 	background: #fff;
// }

.navbar{
	border-bottom: 2px solid #ddd !important;
	z-index: 99999; 
  background: #fff;
  display: block;
}


.maker-input {
    display: flex;
}
.maker-input{
    display: flex;
  }
.maker-input .name-input{
    order: 2;
    display: block;
    margin-top: 0;
    background: none;
    padding: 2px 2px 1px;
    line-height: 26px;
    height: 30px;
    border:none;
    width: 100%;
    box-sizing: border-box;
    color: #000000;
    font-size: 20px;
}
.maker-input .name-input:focus{
	outline: none;
}
.user-input .name-input{
    order: 2;
    margin-top: 0;
    border-width:0 0 1px;
    background: none;
    padding: 2px 2px 1px;
    line-height: 26px;
    height: 30px;
    border-style:dashed;
    width: 100%;
    color: #151948;
}
.user-input .name-input:focus{
	outline: none;
}
.user-answer{
	border-bottom:2px dashed #b8b8b8;
	color:#b8b8b8;
}
.nice-lable{
	padding:10px 0;
}
/*.fixed-bar{
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y: scroll;
}*/
/*-------------sidebar icon menues part-------------*/
.menu-sidebar{
	-border:1px solid purple;
	padding: 20px 25px;
	height: calc(100vh - 50px);
    overflow-y:auto;
    position: fixed;
}
#side-menu{
	padding:0;
}
.menu-item{
	-display: inline-block;
    position: relative;
    padding: 15px 5px;
    cursor: pointer;
}
.menu-item img{
	height: 30px;
	width:30px;
	float: left;
	margin:0 10px 10px 0;
	position: relative;
	top: 10px;
}
.menu-item span{
	-float: right;
	display: block;
	font-size:13px;
	color:#000;
}

.menu-title {
    -padding: 15px 20px;
    letter-spacing: .05em;
    cursor: default;
    font-size: 12px;
    text-transform: uppercase;
}

/*-------------working form part-------------*/
.working-part{
	overflow: hidden;
	box-shadow: 0 1px 6px 0 rgba(101, 95, 95, 0.18);
	height: 100%;
  margin: auto;
  background: #ffffff;
}
.working-part .active{
     background-color: #f9f9f9
}
.working-part .active1{
    background-color: #ffffff
}
.formtitle{
	padding: 35px 50px;
}
.formtitle .page-title{
	color: #b8b8b8;
	font-size:13px;
	font-weight:400;
}
.mb-40{
	margin-bottom:40px;
}
.mb-35{
	margin-bottom:35px;
}
.file-name{
  display: flex;
  text-align: center;
}
.file-name i{
  margin-right: 10px;
  font-size:18px;
  line-height:30px; 
  color:#000000;
}


/*-------------formats-------------*/


/*-----rating css-------*/
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f006";
}

.rating > .half:before { 
  content: "\f006";
  position: absolute;
}

.rating > label { 
  color: #949191; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


.form-header{
  font-size:22px !important;
  font-weight: 600;
  color:#000000;
}


/*-------------property part-------------*/
.property-part{
    height: calc(100vh - 50px);
    position: fixed;
    overflow-y:auto;
    padding:15px;
    right:0;
}
.property-tab{
	padding: 15px;
}
.property-tab .tab-content{
	-border:1px solid red;
}
.text-property{
	-border:1px solid red;
}
.text-property a{
	padding:5px;
	font-size:14px;
}
.text-property a img{
	height:18px;
}
.part-title{
	-border:1px solid red;
	margin-bottom:15px;
	font-size: 15px;
}
.add-new-property a{
	padding:5px;
	margin-right:10px;
	font-size:14px;
	display: inline-grid;
}
.add-new-property span{
	font-size:10px;
	color: #b8b8b8;
	text-align: center;
}
.add-new-property a img{
	height:25px;
}
.required-part{
	line-height: 18px;
}
.required-part .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
}

.required-part .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.required-part .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.required-part .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.required-part input:checked + .slider {
  background-color: #2196F3;
}

.required-part input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.required-part input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.required-part .slider.round {
  border-radius: 34px;
}

.required-part .slider.round:before {
  border-radius: 50%;
}
.required-icons i{
  font-size: 16px;
  color: #a0a6ad;
}

.inline-selection span{
	display: inline-block;
	width:50%;
	padding: 0 5px;
}

.theme-setting-color{
	-border:1px solid red;
}
.que-color p{
	display: inline;
}
.que-color input{
	height:18px;
	width:18px !important;
    position: relative;
    top:5px;
    border-radius: 1px;
    float: right;
}
.que-color i{
    position: relative;
    top:5px;
    font-size: 18px;
}
.form-pages p a{
    color:#212529;
}
.form-pages p a:hover{
    color:#ffae1f;
}
.mtb{
	margin: 35px 0;
}
.required-inputs input{
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}





// form







.form-control:focus{
    box-shadow: none
}
.form-page{
    background: #f8f8f8;
    overflow-x: hidden;
}
.working-part{
    background: #ffffff
}
.formtitle {
    padding: 35px 40px 0px 40px;
}
#multiple-choice-format{
    padding: 40px;
}
#statement-format{
    padding: 40px;
}
#dropdown-format{
    padding: 40px;
}
#conditional-dropdown-format{
    padding: 40px;
}
#picture-choice-format{
    padding: 40px;
}
.maker-input input{
    color: #000000
}
.maker-input .name-input::placeholder{
    color:#000000;
}
.rating-ico span{
font-size: 20px;
}
.form-header{
    font-size:20px;
    font-weight: 600
}
.form-statement{
   font-weight: 300;
   font-style: italic;
   border:none;
}
.add-dropdown{
    padding-bottom: 5px;
    position: relative;
}
.add-dropdown .left-ico{
    float: left;
    position: relative;
    top:20px;
    color: #6c757d;
}
.add-dropdown .right-ico{
    right: 0;
    position: absolute;
    top:0px;
    color: #6c757d;
}
.add-dropdown input{
    padding-left: 25px;
    border-bottom: 1px solid #cccccc;
    width: 50%;
    margin-right: 30px;
}
.add-dropdown .numbering{
    position: relative;
    top: 26px;
}
// #conditional-dropdown-format .add-dropdown .right-ico{
//     right: 0;
//     position: absolute;
//     top:30px;
//     color: #6c757d;
// }
.add-picture{
    padding-bottom: 5px;
    position: relative;
}
.add-picture .right-img{
    border:1px solid #cccccc;
    width: 30%;
    text-align: center;
    height: 30px;
}
.add-picture .left-ico{
    position: relative;
    top:25px;
    color: #6c757d;
}
.add-picture input{
    padding-left: 25px;
    border-bottom: 1px solid #cccccc;
    width: 67%;
}
.add-picture .right-ico{
    right: 0;
    position: absolute;
    top:24px;
    color: #6c757d;
}
.add-picture button{
    border:2px dashed #dddddd;
    padding: 5px 10px;;
    margin-left: 20px;
}
#submit-part{
    padding: 40px
}
#submit-part .btn{
    padding: 7px 20px;
}
.add-condi-dropdown{
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
}
.add-condi-dropdown .left-ico{
    float: left;
    position: relative;
    top:20px;
    color: #6c757d;
}
.add-condi-dropdown .right-ico{
    right: 0;
    position: absolute;
    top:6px;
    color: #6c757d;
}
.add-condi-dropdown input{
    border-bottom: 1px solid #cccccc
}
























